.card--resource-take {
    -fx-background-color: -wa-white;
    -fx-background-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-color: -wa-black-20;
    -fx-border-radius: 6px;
}

.card--resource-take__take-drag .ikonli-font-icon {
    -fx-font-size: 26px;
}

.card--resource-take__btn {
    -fx-background-color: -wa-white;
    -fx-border-color: -wa-white;
}

.card--resource-take__btn .ikonli-font-icon {
    -fx-font-size: 20px;
    -fx-fill: -wa-black;
}

.card--resource-take__take-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.card--resource-take--empty {
    -fx-fill: -wa-black-05;
    -fx-arc-width: 10px;
    -fx-arc-height: 10px;
    -fx-pref-width: 200px;
    -fx-pref-height: 90px;
}
